<%= include header.ejs %>
    
    <div class="main">
        <h1><%= title %></h1>
    	<p>Send a message:</p>
	
	<form action="messages" method="post" class="form">
	  <table>
	    <tr>
	      <td>From</td>
	      <td><input type="text" name="from" class="full"/></td>
	    </tr>
	    <tr>
	      <td>To</td>
	      <td><input type="text" name="to" class="full"/></td>
	    </tr>
	    <tr>
	      <td valign="top">Text</td>
	      <td><textarea name="text" style="width:400px;height:200px;"></textarea></td>
	    </tr>
          </table>
          <input type="submit"/>
        </form>
    </div>

<%= include footer.ejs %>
