body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
textarea,
input {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.main {
  width: 600px;
}
.sidebar {
  width: 200px;
}
.main,
.sidebar {
  float: left;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #cce7c8;
  min-height: 400px;
  margin-right: 20px;
  border-radius: 10px;
}
